@use "../../abstracts" as *;

.skills__item {
  position: relative;
  min-height: 33vh;
  &-title {
  }
  &-link {
  }
  &-image {
    @include abs-position;
  }
  &-overlay {
  }

  @for $i from 1 through 9 {
    &:nth-child(#{$i}) {
      grid-area: a#{$i};
    }
  }
}
