@use "../../abstracts" as *;

.subscribe {
  margin-bottom: 74px;
  padding: $gap-lg 0;

  background-color: $color-primary;

  &__container {
    @extend %container;
  }
  &__form {
    display: grid;
    gap: $gap;
    justify-content: center;

    grid-template-columns: 1fr;
    @include md-min {
      grid-template-columns: repeat(2, 352px);
    }
    @include lg-min {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
