@use "../../abstracts" as *;

.subscribe__input {
  width: 100%;
  padding: 0.875em 1.25em;

  transition: border-color 0.3s;

  color: $color-white;
  border: 2px solid $color-gray;
  outline: none;
  background-color: $color-primary;

  font-family: $font-main;
  font-size: 1rem;

  @include md-min {
    &:first-child {
      grid-column: span 2;
    }
  }
  @include lg-min {
    &:first-child {
      grid-column: auto;
    }
  }
  &:hover,
  &:focus {
    background-color: rgba($color-white, 0.2);
  }

  &::placeholder {
    color: $color-gray2;
  }
  &:focus {
    border-color: $color-accent;
  }
}

.subscribe__btn {
  width: 100%;
  padding: 0.875em 2em;

  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
  letter-spacing: 0.05em;

  color: $color-white;
  border: 2px solid $color-white;
  background-color: rgba($color-white, 0.2);

  font-family: $font-main;
  font-size: 1rem;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}
