@use "../../abstracts" as *;
.footer {
  background-color: $color-primary;
  &__container {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    margin-bottom: 2px;
    margin-top: 143px;
    position: relative;
    color: #637588;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: 20px; /* 125% */
    letter-spacing: 4.784px;
    &::before {
      content: "";
      background-color: $color-white;
      display: block;
      width: 75px;
      height: 2px;
      top: -30px;
      position: absolute;
      left: 30px;
    }
  }
  &__text-accent {
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.8px;
  }
}
