@use "../../abstracts" as *;
.footer {
  background-color: $color-primary;
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;

    min-height: 250px;
  }
  &__text {
    position: relative;

    margin-top: 143px;
    margin-bottom: 2px;

    text-align: center;
    letter-spacing: 4.784px;

    color: #637588;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
    line-height: 20px; /* 125% */
    &::before {
      position: absolute;
      top: -30px;
      left: 30px;

      display: block;

      width: 75px;
      height: 2px;

      content: "";

      background-color: $color-white;
    }
  }
  &__text-accent {
    letter-spacing: 0.8px;

    color: #ffffff;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 20px;
  }
}
