@use "../../abstracts" as *;
@use "sass:color";

.posts__item {
  overflow: hidden;
  min-height: 550px;
  background-color: $color-gray-light2;

  &:hover {
    background-color: rgba($color-white, 0.2);
    .posts__item-link {
      color: $color-accent;
    }
    .posts__item-image {
      scale: 1.1;
    }
  }
  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      grid-area: a#{$i};
    }
  }

  &-link {
    color: $color-gray;
    font-family: $font-header;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    letter-spacing: 0.9px;
  }
  &-image {
    transition: scale 0.3s;
    min-height: 300px;
    background-color: $color-primary;
    background-position: center;
    background-size: cover;
  }
  &-content {
    min-height: 250px;
    padding: 0 $gap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}
