@use "../../abstracts" as *;

.header__navbar {
  &-list {
    display: grid;
    gap: $gap;
    justify-content: end;

    grid-template-columns: repeat(auto-fit, minmax(40px, max-content));
    @include unlist(0 (-$gap-sm) 0 0);
    @include lg {
      position: absolute;
      top: 100%;
      right: $gap;

      display: none;
      gap: 0;

      width: 170px;
      padding: $gap-sm 0;

      background-color: rgba($color-primary, 0.7);
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);

      grid-template-columns: 1fr;
    }
  }
  &-item {
    @include lg {
      width: 100%;
    }
  }
  &-link {
    padding: $gap $gap-sm;

    transition: color 0.3s;
    letter-spacing: 0.085em;

    font-size: 1.125rem;

    @include lg {
      display: block;

      padding: 10px 24px;

      text-align: center;
    }
    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
  &-btn {
    display: none;

    @include lg {
      z-index: 3;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      width: 30px;
      height: 18px;
      margin-left: auto;

      cursor: pointer;

      border: none;
      background: transparent;

      &-row {
        display: block;

        width: 100%;
        height: 2px;

        transition: all 0.3s ease-in-out;

        border-radius: 1px;
        background-color: $color-white;
      }

      &:hover &-row {
        background-color: $color-accent;
      }

      &.active {
        .header__navbar-btn-row {
          &:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
          }
          &:nth-child(2) {
            transform: scale(0);

            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
          }
        }
      }
    }
  }
}
