@use "../../abstracts" as *;

.header__content {
  z-index: 1;
  position: relative;
  display: flex;

  &-container {
    @extend %container;
  }
  &-title {
    text-align: center;
    margin: 0 0 53px 0;
  }
  &-actions {
    display: flex;
    justify-content: center;
    gap: $gap;
  }
}
